.category__container{
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
}

.category__title{
    margin-left: 2rem;
    font-size: 2.1rem;
    color: white;
}

.category__list{
    padding: 0rem 2rem;
    display: flex;
    column-gap: 2.4rem;
    row-gap: .8rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

.category__one{
    z-index: 2;
    list-style: none;
    color: #203A43;
    font-weight: 700;
    background-color: white;
    padding: .4rem 1rem;
    border-radius: 15px;
    transition: all .8s;
}

.category__one:hover{
    cursor: pointer;
    background-color: #203A43;
    color: white;
    transition: all .8s;
}

.circle_7{
    position: absolute;
    right: 0;
    top: 34%;
    z-index: 1;
    height: 60vh;
    width: 25vw;
    border-radius: 200px 0px 0px 120px;
    background-color: #203A43;
}

.circle_8{
    position: absolute;
    left: 0;
    top: 44%;
    z-index: 1;
    height: 60vh;
    width: 25vw;
    background-color: #2C5364;
    border-radius: 0px 120px 120px 0px;
}

@media screen and (min-width: 624px) {
    .category__title{
        font-size: 2.5rem;
    }
}

@media screen and (min-width:1024px) {
    .circle_7{
        top: 15%;
    }
    .circle_8{
        top: 25%;
    }
    .category__title{
        font-size: 3rem;
    }
}