html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.background{
    background: linear-gradient(to right, #203A43,#2C5364);
}

#eat{
    margin-top: .3rem;
}